<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first signIn">
      <h3>Sign-In</h3>
    </div>

    <!-- Login Form -->
    <form [ngClass]="{wrongData: invalidData}">
      <input type="text" name="email" id="login" [(ngModel)]="loginUserData.email" class="fadeIn second"
        placeholder="email">
      <input type="password" name="password" id="password" class="fadeIn third" placeholder="password"
        [(ngModel)]="loginUserData.password">
      <input type="button" class="fadeIn fourth button-log" value="Log In" (click)="loginUser()">
    </form>

    <ng-container *ngIf="invalidData">
      Wrong email or password
    </ng-container>

  </div>
</div>
