<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <p>Welcome!</p>
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" name="email" id="login" [(ngModel)]="loginUserData.email" class="fadeIn second"  placeholder="email" >
        <input type="text" name="password" id="password" class="fadeIn third"  placeholder="password" [(ngModel)]="loginUserData.password">
        <!-- <input type="button" class="fadeIn fourth" value="Log In" (click)="loginUser()"> -->
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
  
    </div>
  </div>