* {
  margin: 0;
  padding: 0;
}

nav {
  height: 4em;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;

  .navbar-collapse {
    max-width: 20vw;
  }

  .navbar-nav {
    flex-direction: row;
    .nav-item {
      color: rgb(65, 65, 82);
      text-decoration: none;
      padding-left: 0.5vh;

      &:hover {
        border-bottom: 2px inset rgb(83, 83, 110);
      }
    }
  }

  .navbar-brand {
    margin: auto 1vh auto 1vh;
    height: auto;
  }

  div {
    width: 50px;
  }

  .nav-a {
    margin: inherit;
  }

  .basket {
    flex-basis: auto;
    width: auto;
    text-decoration: none;
    margin-bottom: auto;
    margin-left: auto;
    color: rgb(182, 182, 214);

    svg {
      margin: 1.3vh;
    }
  }
}
.navbar {
  flex-wrap: nowrap;
}
