* {
  margin: 0;
}

@media screen and (min-width: 700px) {
  #navbarNav {
    margin: auto auto auto 1em;
  }
}

@media screen and (max-width: 700px) {
  .navbar {
    padding: 2px;
  }
  .nav-link {
    padding-left: 3px;
  }
}


nav {
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  height: 4em;
  position: relative;
  z-index: 100;
  width: 100%;
  flex-wrap: nowrap;
  top: 0;

  .navbar-nav {
    display: flex;
    flex-direction: row;

    li {
      margin: 0.5vh;
      margin-right:auto
    }
  }
  .nav-item {
    color: rgb(65, 65, 82);
    text-decoration: none;

    &:hover {
      border-bottom: 2px inset rgb(83, 83, 110);
    }
  }

  h4 {
    margin: 0;
  }
  .basket {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    text-decoration: none;
    justify-content: space-between;
    text-align: center;
    color: rgb(182, 182, 214);
    svg {
      margin: 1vh;
      max-height: 30px;
    }
  }
}


