<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="">Book Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="">Store <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile" *ngIf="authService.logIn">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" *ngIf="!authService.logIn">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/registration" *ngIf="!authService.logIn">Registration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()" *ngIf="authService.logIn">Logout</a>
        </li>
      </ul>
    </div>
    <a routerLink="/basket">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
      <span class="badge badge-secondary badge-pill">Basket: {{basket.length}}</span>
    </h4>
  </a>
  </nav>