<div class="basket">
<a routerLink="/basket" href="/basket">
<button>{{basket.length}}</button>
</a>

</div>



<mat-form-field>
  <mat-label>Select an option</mat-label>
  <mat-select [(ngModel)]="selected">
    <mat-option>None</mat-option>
    <mat-option value="option1">Option 1</mat-option>
    <mat-option value="option2">Option 2</mat-option>
    <mat-option value="option3">Option 3</mat-option>
  </mat-select>
</mat-form-field>



<mat-card *ngFor="let book of books">

    <button class="modalbutton" mat-button (click)="openModal(book)" >
    
        <mat-card-title>{{book.title}}</mat-card-title>
        <mat-card-subtitle>{{book.author}}</mat-card-subtitle>
        <img class="image_url" mat-card-md-image src="{{book.image_url}}">
    
    </button>
    </mat-card>
    
    
    