body {
    margin: 0;
    padding: 0;
}

.searcher {
    padding-bottom: 20vh;
    border: none;
    position: relative;
    top: 4em;
    
    .form-control:focus {
        box-shadow: none;
      }
      

}

.selectedbook {
    box-shadow: 0.5em 6em 10em 2em rgba(225, 235, 246, 0.979);
    background-color: red;
}

mat-form-field {
    width: 100%;
    margin-bottom: 5vh;
}

mat-grid-list {
    margin-bottom: 5vh;
    mat-grid-tile {
    
        mat-card {
            background-color: rgb(255, 255, 255);
            width: 70%;
            height: 65vh;
    
                .modalbutton {
                    padding: 0;
                    margin: 0;
                    border: none;
                    font: inherit;
                    color: inherit;
                    background-color: transparent;
                    cursor: pointer;
                    width: 100%;
                    height: inherit;
    
                        mat-card-title {
                            text-align: center;
                            height: 1em;
                        }
    
                        mat-card-subtitle {
                            text-align: center;
                        }
                        
                        .image_url {
    
                            img {
                                width: auto;
                                height: 22em;
                                margin-left: auto;
                                margin-right: auto;
                                display: block;
                            }
                        }
                        
                        mat-card-footer {
                            text-align: center;
                        }
                }
            &:hover {
                box-shadow: 0.5em 6em 10em 2em rgba(225, 235, 246, 0.979);
            }
        }


    }
    
}

.pagination {
    border: none;

    div {
        margin-left: auto;
        margin-right: auto;
        display: inline;
        border: inherit;
        background-color: inherit;
    }
}
.page-link {
    color: rgb(76, 62, 95);
    border: none;
}
.page-item.active .page-link {
    background-color: rgb(203, 214, 226);
}
