* {
    margin: 0;
    padding: 0;
}

.container {
  width: 100%;
  min-width: 100vw;
  padding: 0;
  margin: 0;
}
.searcher {
    border: none;
    position: relative;
    top: 4em;
    width: 100%;
    .form-control:focus {
        box-shadow: none;
      }


}

.selectedbook {
    box-shadow: 0.5em 6em 10em 2em rgba(225, 235, 246, 0.979);
}

mat-form-field {
    width: 100%;
    margin-bottom: 5vh;
}

mat-grid-list {
  padding-top: 10vh;
    mat-grid-tile {
      width: 100%;
        mat-card {
            background-color: rgb(255, 255, 255);
            width: 70%;
            min-height: 20vh;
            max-height: 100%;

                .modalbutton {
                    margin: 0;
                    border: none;
                    font: inherit;
                    color: inherit;
                    background-color: transparent;
                    cursor: pointer;
                    width: 100%;
                    height: inherit;

                        mat-card-title {
                            text-align: center;
                            width: 100%;
                        }

                        mat-card-subtitle {
                            text-align: center;
                        }

                        .image_url {
                          max-height: 45vh;
                            img {
                              padding: 0;
                                height: auto;
                                width: 70%;
                                margin-left: auto;
                                margin-right: auto;
                                margin-bottom: 0;
                                display: block;
                            }
                        }

                        mat-card-footer {
                            text-align: center;
                        }
                }
            &:hover {
                box-shadow: 0.5em 6em 10em 2em rgba(225, 235, 246, 0.979);
            }
        }


    }

}

.pagination {
    border: none;

    div {
        margin-left: auto;
        margin-right: auto;
        display: inline;
        border: inherit;
        background-color: inherit;
    }
}
.page-link {
    color: rgb(76, 62, 95);
    border: none;
    padding: 1vh;
}
.page-item.active .page-link {
    background-color: rgb(203, 214, 226);
}
