* {
  padding: 0;
  margin: 0;
}

nav{
    position: fixed;
    top: 4em;
    width: 100%;
    height: 4em;
    z-index: 100;
  }

.collapse:not(.show) {
  display: inline;
}

.navbar-nav {
  flex-direction: row;
  display: flex;
  justify-content: space-between;

}


  .nav-item {
    color: rgb(65, 65, 82);
    text-decoration: none;
    margin: auto 1vh auto 1vh;
  }
