* {
  margin: 0;
}

@media screen and (max-width: 760px) {
  .container {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

button[type=submit] {
  color: rgb(95, 90, 90);
  background-color: rgb(224, 232, 240);
  border: none;

  &:hover {
    background-color: rgb(182, 182, 214);
    color: #ffffff;
  }
}
app-checkout {
  width: 100%;
}

.wrongCoupon {
  border: 0.3vh solid rgb(167, 81, 81);
}
