* {
  padding: 0;
}

@media screen and (max-width: 350px) {
  .modal-window {
    width: 100%;
  }
  svg {
    height: 4.5vh;
    width: 4.5vh;
  }
}
.container {
  display: flex;
  flex-direction: column;
  padding-top: 0px;
}

.modal-window {
    max-width: 500px;
    max-height: 90vh;

    .button-close{
      color: rgb(137, 120, 153);
      font-size: 3vh;
      padding-right: auto;
      text-align: right;
      width: 100%;
    }

    mat-card-title {
        text-align: center;
        margin: 0.5vh;
    }
    mat-card-subtitle {
        text-align: center;
    }
    img {
        width: auto;
        height: 22em;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    mat-card-content {
        width: 100%;
        margin-top: 5vh;
        min-height: 20vh;
    }

    mat-card-actions {
        .button-buy {
            width: 20vh;
            background-color: rgb(221, 227, 235);
            display: block;
            margin: 1vh auto 1vh auto;

            &:hover {
                background-color: rgb(182, 182, 214);
            }
        }

    }

    mat-card-footer {
      margin: auto auto 0 auto;
      width: 100%;
        color: rgb(55, 55, 88);
    }

}
