* {
	margin: 0;
  padding: 0;
}

.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  width: 100%;
  min-width: 99.9vw;
}

app-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
router-outlet {
  margin: auto auto 0 auto;
  width: 100%;
}
app-footer {
  margin: auto auto 0 auto;
  width: 100%;
}
