<div class="wrapper">
  <form>

    <label>
      <p class="label-txt">FIRST NAME</p>
      <input type="text" class="input" name="first_name" [(ngModel)]="registerUserData.first_name" required>
      <div class="line-box">
        <div class="line"></div>
      </div>
    </label>
    <label>
      <p class="label-txt">LAST NAME</p>
      <input type="text" class="input" name="last_name" [(ngModel)]="registerUserData.last_name" required>
      <div class="line-box">
        <div class="line"></div>
      </div>
    </label>
    <label>
      <p class="label-txt">EMAIL</p>
      <input type="text" class="input" name="email" [(ngModel)]="registerUserData.email" required>
      <div class="line-box">
        <div class="line"></div>
      </div>
    </label>

    <div *ngIf="wrongEmail">
      <p>
        This email is already in use
      </p>
    </div>

    <label>
      <p class="label-txt">PASSWORD</p>
      <input type="password" class="input" name="password" [(ngModel)]="registerUserData.password" required>
      <div class="line-box">
        <div class="line"></div>
      </div>
    </label>
    <label>
      <p class="label-txt">CONFIRM PASSWORD</p>
      <input type="password" class="input" name="passwordConfirmation" required>
      <div class="line-box">
        <div class="line"></div>
      </div>
    </label>

    <button type="button" (click)="registerUser()">submit</button>

  </form>

</div>
