<form>
    
    <label>
      <p class="label-txt">ENTER YOUR FIRST NAME</p>
      <input type="text" class="input" name="first_name" [(ngModel)]="registerUserData.first_name" required>
      <div class="line-box">
        <div class="line"></div>
      </div>
    </label>
    <label>
      <p class="label-txt">ENTER YOUR LAST NAME</p>
      <input type="text" class="input" name="last_name" [(ngModel)]="registerUserData.last_name" required>
      <div class="line-box">
        <div class="line"></div>
      </div>
    </label>
    <label>
      <p class="label-txt">ENTER YOUR EMAIL</p>
      <input type="text" class="input" name="email" [(ngModel)]="registerUserData.email" required>
      <div class="line-box">
        <div class="line"></div>
      </div>
    </label>
    <label>
      <p class="label-txt">ENTER YOUR PASSWORD</p>
      <input type="password" class="input" name="password" [(ngModel)]="registerUserData.password" required>
      <div class="line-box">
        <div class="line"></div>
      </div>
    </label>
    <label>
      <p class="label-txt">CONFIRM YOUR PASSWORD</p>
      <input type="password" class="input" name="passwordConfirmation" required>
      <div class="line-box">
        <div class="line"></div>
      </div>
    </label>
    <label>
      <p>WOULD YOU LIKE TO BECOME AN ADMIN?</p>
      <input type="checkbox" class="checkbox"  name="isAdmin" [(ngModel)]="registerUserData.isAdmin" required>
      
    </label>

    <button type="button" (click)="registerUser()">submit</button>

  </form>